#test-item {
  box-shadow: 0px 6px 15px rgba(218, 220, 237, 0.5);
  border-radius: 20px;
  background: #fff;
  width: fit-content;
  .test-img {
    img {
      width: 100%;
    }
  }
  .test-content {
    color: #505050;
    padding: 0 25px;
    text-align: left;
    @media (max-width: 768.98px) {
      padding: 0 15px;
    }
    .test-name {
      color: #000;
      font-size: 20px;
      font-weight: 600;
      min-height: 60px;
      @media (max-width: 768.98px) {
        font-size: 14px;
        min-height: 40px;
      }
      @media (max-width: 425.98px) {
        min-height: unset;
      }
    }
    .test-desc {
      font-size: 14px;
      font-weight: 400;
      min-height: 230px;
      @media (max-width: 768.98px) {
        font-size: 12px;
        min-height: 200px;
      }
      @media (max-width: 425.98px) {
        min-height: unset;
      }
      p {
        margin: 0;
      }
    }
    .questions-levels {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      font-weight: 400;
      .quantity {
        font-weight: 700;
      }
      @media (max-width: 768.98px) {
        font-size: 12px;
      }
    }
  }
  @media (max-width: 426.98px) {
    width: 100%;
  }
}