.app-bar-header {
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  &-nav {
    display: flex !important;
    justify-content: space-between;
  }
  &-app-buttons {
    display: flex;
  }
}