#introduction {
    background: #fff;
    padding: 50px 0;
    .list-intro {
        text-align: left;
        margin: 0;
        .title-intro {
            color: #234A60;
            font-size: 35px;
            font-weight: 700;
            text-transform: capitalize;
            text-align: justify;
            @media (max-width: 426.98px) {
                font-size: 20px;
            }
        }
        .content-intro {
            color: #030303;
            font-size: 18px;
            font-weight: 400;
            text-align: justify;
            ul {
                list-style: none;
                li::before {
                    content: "• ";
                    color: #030303;
                }
            }
            @media (max-width: 426.98px) {
                font-size: 14px;
            }
        }
    }
}